<div class="event-details">
    <div class="event-details__image" data-mediator="lazy-background" data-img="{{image}}">

    </div>
    <div class="main-content">
        <h1 class="event-details__name">{{name}}</h1>

        <div itemprop="sponsor" itemscope itemtype="http://schema.org/Place">
            <a href="{{owner.seo_url}}" class="place" itemprop="url">
                <p class="event-details__sponsor-name" itemprop="name">{{owner.name}}</p>
            </a>
        </div>

        <div class="event-details__info-CNT">
            <div class="event-details__event-date">
                {{#if start_time}}
                    <p class="start-date" itemprop="startDate" content="{{start_time}}">
                        <i class="material-icons event-icon">event</i>
                        <span>{{formatDate start_time "short"}}</span>
                    </p>
                {{/if}}
                {{#if end_time}}
                    <p class="end-date" itemprop="endDate" content="{{end_time}}">
                        <i class="material-icons event-icon">event</i>
                        <span>{{formatDate end_time "short"}}</span>
                    </p>
                {{/if}}
            </div>

            {{#if ticket_uri}}
                <div class="event-details__tickets">
                    <a href="{{ticket_uri}}" target="_blank">
                        <p class="ticket-label">
                            <i class="material-icons">credit_card</i>
                            <span>COMPRA ORA</span>
                        </p>
                    </a>
                </div>
            {{/if}}

        </div>
        {{#if place}}
        <div class="event-details__address" itemprop="location" itemscope itemtype="http://schema.org/Place">
            <h3 class="event-details__place-label">L'evento si svolge:</h3>
            <a href="{{place.seo_url}}" class="place" itemprop="url">
                <p class="event-details__place-name" itemprop="name">{{place.name}}</p>
                <p class="event-details__place-address" itemprop="address">{{place.address}}</p>
                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                 <meta itemprop="latitude" content="{{place.geo.lat}}"/>
                 <meta itemprop="longitude" content="{{place.geo.lng}}"/>
                </span>

            </a> {{#if place.geo.lat}}
            <div class="map-CTR">
                <div id="map" class="map" data-mediator="map" data-lng="{{place.geo.lng}}" data-lat="{{place.geo.lat}}"></div>
            </div>
        {{/if}}
        </div>
        {{/if}}

        <p class="event-details__description" itemprop="description">{{{description}}}</p>
    </div>
</div>
