<div class="event-thumbnail" itemscope itemtype="http://schema.org/Event">
    <a href="{{seo_url}}" itemprop="url">
        <div class="event-thumbnail__image"  data-mediator="lazy-background" data-img="{{image}}">
            <meta content="{{image}}" itemprop="image"/>
        </div>
        <h1 class="event-thumbnail__title" itemprop="name">{{name}}</h1>
    </a>

    <div itemprop="sponsor" itemscope itemtype="http://schema.org/Place">
        <a href="{{owner.seo_url}}" class="place" itemprop="url">
            <p class="event-thumbnail__place-name" itemprop="name">{{owner.name}}</p>
        </a>
    </div>
    <div class="event-thumbnail__info-CNT">
        <div class="event-thumbnail__event-date">
            {{#if start_time}}
                <p class="start-date" itemprop="startDate" content="{{start_time}}">
                    <i class="material-icons event-icon">event</i>
                    <span>{{formatDate start_time "short"}}</span>
                </p>
            {{/if}}
            {{#if end_time}}
            <p class="end-date" itemprop="endDate" content="{{end_time}}">
                <i class="material-icons event-icon">event</i>
                <span>{{formatDate end_time "short"}}</span>

            {{/if}}
        </div>
        {{#if place}}
        <div class="event-thumbnail__address" itemprop="location" itemscope itemtype="http://schema.org/Place">
            <meta itemprop="name" content="{{place.name}}"/>
            <meta itemprop="address" content="{{place.address}}"/>
            {{#if place.geo}}
            <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{place.geo.lat}}"/>
                <meta itemprop="longitude" content="{{place.geo.lng}}"/>
            </span>
            {{/if}}
        </div>
        {{/if}}
    </div>
    <p class="event-thumbnail__description" itemprop="description">{{description}}</p>
</div>