<div class="photo-thumbnail">

    <figure class="image">
        <a href="https://www.instagram.com/p/{{code}}/" rel="noopener" target="_blank">
            <img src="" data-mediator="lazy-image" data-img="{{image}}">
        </a>

    </figure>
    <div class="social-info">
        <ul>
            <li class="social-item">
                <div class="social">
                    <i class="material-icons">star</i>
                    <span class="count">{{rating}}</span>
                </div>
            </li>
            <li class="social-item">
                <div class="social">
                    <i class="material-icons">comment</i>
                    <span class="count">{{comments}}</span>
                </div>
            </li>

        </ul>
    </div>
    <div class="description">{{{description}}}</div>
</div>