<div class="info-CTR">

    <div class="info-CNT">
        <div class="place-name">
            <svg class="category-ico">
                <use xlink:href="#"></use>
            </svg>
            <p class="name" itemprop="name">{{name}}</p>
        </div>
        <div class="address" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">

            <meta itemprop="latitude" content="{{geo.lat}}"/>
            <meta itemprop="longitude" content="{{geo.lng}}"/>
        </span>
            <p itemprop="address">{{address}}</p>
        </div>
        <div class="description" itemprop="description">{{{description}}}</div>
    </div>
    <div class="social-info">
        <ul>
        {{#if rating}}
            <li class="social-item">
                <div class="social" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <i class="material-icons">star</i>
                    <span class="count" itemprop="ratingValue">{{rating}}</span>
                </div>
            </li>
            {{/if}}
            {{#if comment_count}}
            <li class="social-item">
                <div class="social">
                   <i class="material-icons">comment</i>
                    <span class="count">{{comment_count}}</span>
                </div>
            </li>
            {{/if}}
             {{#if photo_count}}
            <li class="social-item">
                <div class="social">
                    <i class="material-icons">collections</i>
                    <span class="count">{{photo_count}}</span>
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
</div>