<aside class="right-sidebar"  data-mediator="filtra-listing">
    <h1 class="title">Filtra per categoria: </h1>
    <select class="filters">
        {{#each categories}}
            <option value="/places/{{query_filter}}">
                {{name}}
            </option>
        {{/each}}
    </select>
    <nav class="common-menu categories">
        <h1 class="title">Categorie correlate: </h1>
        <ul class="menu">
            {{#each categories}}
                <li class="menu-item {{active}}">
                    <a href="/places/{{query}}">
                        <!--<p><span>{{name}}</span></p>-->
                        <p><span>{{formatMessage (intlGet name) }}
                        </span></p>
                    </a>
                </li>
            {{/each}}


    </nav>
</aside>